.header{
    flex-direction: row;
    justify-content: space-between;
}
.img-h{
    width: 75px;
    margin: 30px;
}
.img{
    width: 220px;
    margin: 30px;
}
.item-cont{
    margin: 0 30px;
    font-size: 2.5rem;
}
.container{
    justify-content: center;
}
.container p{
    max-width: 600px;
    font-size: 2.3rem;
}
.links{
    max-width: 700px;
}
.links div{
    width: 22rem;
    height: 6rem;
    margin: 20px;
    font-size: 2.3rem;
}
.footer{
    font-size: 1.2rem;
}